.api-input {
  width: 300px;
}

.prefecture {
  user-select: none;
}

.graph {
  display: flex;
  align-items: flex-end;
}

.bar {
  background-color: #00BBDD;;
  width: 20px;
  margin: 3px;
  border-radius: 3px 3px 0 0;
}
